.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}


.hero-container{
  position:relative;
  text-align: center;
  color: white;
}

.hero-image{
  width: 100%;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 50%;
  top: 25%;
  bottom: 25%;
  background: #000;
  opacity: .7;
}

.hero-head{
  padding-top:100px;
  margin: 0 auto;
  font-size: 4.5em;
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 10px;
  color: #fff;
}

.hero-sub{
  font-family: 'georgia', serif;
  font-size: .30em;
}

.headline{
  font-size:3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p{
  font-family: georgia, serif;
  line-height: 180%
}

.chapterheadline{
  font-family: georgia, serif;
  font-size: 2em;
  font-weight: 700;
}

#map{
  height: 600px;
  width: 500px;
  margin: auto;
  display: block;
}



#pie{
  height: 400px;
  width: 400px;
  padding-left: 20px;
}

#barchart{
  height: 500px;
  width: 800px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: auto;
  display: block;
}

.timeline{
  height: 700px;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 20px;
}

footer{
  text-align:center;
  margin: 20 0 10 0;
  background-color: black;
  color: #fff;
  width: 100%;
  min-width: 300px;
  height: 75px;
}


/*hex code for color I need #BC4E01 */
