.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

/*overlay*/
.hero-container{
  position:relative;
  text-align: center;
  color: white;
}

.hero-image{
  width: 100%;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 35%;
  top: 25%;
  bottom: 25%;
  background: #000;
  opacity: .8;
}

.hero-head{
  padding-top: 25px;
  margin: 0 auto;
  font-size: 4.5em;
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 10px;
  color: #fff;
}

.hero-sub{
  font-family: 'georgia', serif;
  font-size: .30em;
}

.headline{
  font-size:3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.photocap{
  text-align: center;
  font-family: 'georgia', serif;
  color: grey;
}

/*body*/
p{
  font-family: georgia, serif;
  line-height: 180%
}

.chapterheadline{
  font-family: georgia, serif;
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

/*graphics*/
#usmap{
  width: 60%;
}

#wmap{
  width:80%;
}

#pie{
  height: 400px;
  width: 400px;
  padding-left: 20px;
}

#barchart{
  height: 500px;
  width: 700px;
  margin: auto;
  display: block;
}

/*pull quotes*/
.quote{
  font-size: 3em;
  color: #BC4E01;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.attribution{
  font-size: .55em;
  color: #000;
  font-weight: 300;
  text-align: center;

}

.quote2{
  font-size: 2.5em;
  color: #BC4E01;
  font-weight: 600;
  align: center;
}
/*photos*/
.fig1{
  display: flex;
  flex-flow: column;
  max-width: 250px;
  float: right;
}

.photocap2{
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 400px;
  float: right;
  color: grey;
}

/*sidebar*/
.sidebar{
font-family: 'Exo 2', sans-serif;
border-style: solid;
border-width: 2px;
border-color: #BC4E01;
}

h3{
  color: #BC4E01;
  text-align: center;
}

.text{
  font-size: 1.2em;
  text-align: center;
  font-family:'Exo 2', sans-serif;
}

ul{
  font-size: 1.2em;
}

/*footer*/
footer{
  text-align:center;
  margin: 20 0 10 0;
  background-color: #BC4E01;
  color: #fff;
  width: 100%;
  min-width: 300px;
  height: 100px;
}

@media (max-width: 550px){
.hero-head{
  font-size:1.5em;
  padding-top: 10px;
}

.overlay{
  height: 40%;
}

.container{
  width: 100%;
  margin: 0 auto;
}
#map{
  width: 300px;
  max-width: 450px;
}

#pie{
  width: 300px;
  height: 300px;
}
}

/*hex code for color I need #BC4E01 */
