h2 {
  color: #purple;
  text-align: center;
}
body{
  background-color: lavender;
}
.center{
  text-align: center;
}

.middle{
  display: block;
 margin-left: auto;
 margin-right: auto;

}

.decoration {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 75%;
}
