/*style for my resume*/
#container{
  width:100%;
  max-width: 1200px;
  margin: 0 auto
}

body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#name{
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  color: #400010;
  border-bottom: 2px solid #400010;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

#title{
  color:#400010;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

.sectionheader{
  margin: 20 0 10 0;
  font-size: 1.5em;
  text-transform:uppercase;
  background-color: #400010;
  color: #fff;
  width: 70%;
  min-width: 300px;
}

.jobtitle{
  font-size: 1.5em;
  font-weight: 500;
}

/*.organization{
  font-size: 1.5em;
  font-weight: 400;
} */

.date{
  font-size: 1em:
  font-weight:400;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/*
ul{
  font-size: 1.5em;
}
*/
.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu li{
  display: inline;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#degrees{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#do{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}


@media only screen and (max-width: 500px){
  /*add code here*/
}
/*Give it a width of 60% with a minimum width of 300 pixels.
 Center by giving adding "margin:0 auto;" and give
 it a bottom margin of 30 pixels.*/
